<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>
</div>

<%= f.fields_for :tasks do |builder| %>
  <%= render "admin/shared/task_fields", f: builder %>
<% end %>
<p><%= link_to_add_fields t("admin.subjects.new_task"), f, :tasks %></p>

<ul class="list-inline">
  <li>
    <%= f.submit t("admin.submit"), class: "btn btn-success" %>
  </li>
  <li>
    <%= button_tag t("admin.reset"), type: :reset,
      class: "btn btn-default" %>
  </li>
</ul>
