<% provide :title, t("admin.subjects.edit") %>
<h1><%= t "admin.subjects.edit" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "shared/error_messages", object: @subject %>
    <%= form_for [:admin, @subject] do |f| %>
      <%= render "form", f: f %>
    <% end %>
    <%= link_to t("button.cancel"), admin_subject_path(@subject) %>
   </div>
</div>
