<h1><%= t "admin.subjects.list_of_subject" %></h1>
<table class="table table-hover">
  <thead>
    <tr class="info">
      <th><%= t "admin.subjects.table.thead.id" %></th>
      <th><%= t "admin.subjects.table.thead.name" %></th>
      <th><%= t "admin.subjects.table.thead.description" %></th>
      <th><%= t "admin.subjects.table.thead.created_at" %></th>
    </tr>
  </thead>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.id %></td>
        <td><%= link_to subject.name, [:admin, subject] %></td>
        <td><%= subject.description.truncate(50) %></td>
        <td><%= subject.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
