<% provide :title, t("admin.subjects.subject") %>
<div class="header">
  <ul class="list-inline pull-right">
    <li>
      <%= link_to t("buttons.edit"),
        edit_admin_subject_path(@subject), class: "btn btn-primary" %>
    </li>
    <li>
      <%= link_to t("application.buttons.delete"), [:admin, @subject],
        method: :delete, data: {confirm: t("messages.confirm")},
        class: "btn btn-danger" %>
    </li>
  </ul>
  <h1><%= @subject.name %></h1><hr>
</div>

<div class="row">
  <div>
    <div class="text-info">
      <p><%= @subject.description %></p><br>
    </div>
    <% @tasks.each do |task| %>
      <div class="col-md-2">
        <div class="thumbnail text-center">
          <h4><%= task.name %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
