<% provide :title, @subject.name %>
<div class="header">
  <h1><%= @subject.name %></h1><hr>
</div>
<div class="row">
  <div>
    <div class="text-info">
      <p><%= @subject.description %></p><br>
    </div>
    <%= render "shared/status_label", label: @user_subject.status %>
    <h1><%= t :progress %></h1>
    <div class="progress">
    <div class="progress-bar progress-bar-complete progress-bar-striped"
      style="width: <%= percent_subject_task @user_subject %>">
      <%= percent_subject_task @user_subject %>
    </div>
  </div>
    <% if @subject.tasks.present? %>
      <%= form_for @user_subject, url: user_subject_path(@user_subject, method: :patch) do |f| %>
        <div class="row">
          <%= f.fields_for :user_tasks do |builder| %>
            <div class="col-md-2">
              <% if builder.object.id.nil? %>
                <div class="thumbnail text-center task">
                  <h4><%= builder.object.task.name %></h4>
                  <p><%= builder.check_box :task_id, {checked: false},
                    builder.object.task.id %></p>
                  <%= builder.hidden_field :finish, value: true %>
                  <%= builder.hidden_field :user_id, value: @user_subject.user.id %>
                </div>
              <% else %>
                <div class="thumbnail thumbnail-disable text-center task">
                  <h4><%= builder.object.task.name %></h4>
                  <p><%= builder.check_box :task_id, {checked: true, disabled: true} %></p>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.submit t("client.subjects.submit"), class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="activity-border">
    <span>
      <h3><%= t("activity.name") %></h3>
      <ul>
        <% if @activities %>
          <% @activities.each do |activity| %>
            <li>
              <%= activity.content %>
              <span class="timestamp">
                <%= time_ago_in_words activity.created_at %>
                <%= t "activity.ago" %>
              </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </span>
  </div>
</div>
