<% user_course course.id %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="course_list_border">
      <h3>
        <% if current_user.admin? || current_user.supervisor?(course) %>
          <%= link_to course.name, [:admin, course] %>
        <% else %>
          <%= link_to course.name, course %>
        <% end %>
      </h3>
      <p><%= course.description.truncate(
        Settings.course.number_of_description) %></p>
      <span class="glyphicon glyphicon-user"> <%= course.trainees.count %>
        <%= t :trainees %></span>
      <%= render "shared/status_label", label: @user_course ? @user_course.status : course.status %>
      <span class="label label-<%= @user_course ? "success" : "default" %>">
        <%= @user_course ? t("client.users.joined") : t("client.users.not_joined") %>
      </span>
    </div>
  </div>
  <div class="col-md-offset-1">
    <%= link_to t("courses.view_course"), course, class: "btn btn-primary" %>
  </div>
</div>
