<div class="row header-course">
  <h1 class="label-name"><%= @course.name %></h1>
  <div class="row">
    <div class="col-md-8">
      <%= render "shared/status_label", label: @course.status %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <h2 class="label-name">
        <%= t "client.courses.description" %>
      </h2>
      <p><%= @course.description %></p>
    </div>
    <div class="row">
      <h2 class="label-name">
        <%= t "client.courses.subject_info" %>
      </h2>
      <ul class="white-in">
        <% @course.subjects.each do |subject| %>
          <h3><%= link_to subject.name, @user_course ? subject.user_subjects.where(
              user_course_id: @user_course.id, user_id: current_user.id).first : "#" %></h3>
          <p><%= subject.description %></p>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <h2 class="label-name">
        <%= t "client.courses.trainee_info" %>
      </h2>
      <ul class="list-trainees white-in">
        <% @course.trainees.each do |trainee| %>
          <li class="user_info">
            <%= gravatar_for trainee %>
            <div class="name-email">
              <%= link_to trainee.name, trainee %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <h2 class="label-name">
        <%= t "client.courses.manager" %>
      </h2>
      <ul class="list-managers white-in">
        <% @course.supervisors.each do |supervisor| %>
          <li class="user_info">
            <%= gravatar_for supervisor %>
            <div class="name-email">
              <%= link_to supervisor.name, supervisor %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row activity">
      <h2 class="label-name">
        <%= t "client.courses.activity" %>
        <ul>
          <% if @activities %>
            <% @activities.each do |activity| %>
              <li>
                <%= activity.content %>
                <span class="timestamp">
                  <%= time_ago_in_words activity.created_at %>
                  <%= t "activity.ago" %>
               </span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </h2>
    </div>
  </div>
</div>
