<div class="page-header">
  <h1><%= t "admin.users.list_of_user" %></h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div id="search_form" class="row">
      <%= form_tag admin_users_path, method: :get, enforce_utf8: true, remote: true do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: "form-control",
            placeholder: t(:search_user) %>
          <span class="input-group-btn">
            <%= submit_tag t(:search), name: nil, class: "btn btn-primary" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="list-users">
  <%= render "list_users" %>
</div>
<p><span class= "glyphicon glyphicon-download-alt"></span>
  <%= link_to t("admin.users.csv"), admin_users_path(format: "csv") %>|
  <%= link_to t("admin.users.excel"), admin_users_path(format: "xls") %></p>
<%= will_paginate %>
