<div class="row">
  <div class="col-md-8">
    <table class="table">
      <% users.each do |user| %>
        <%= f.fields_for :user_courses, @course.user_courses.build do |builder| %>
          <tr>
            <td class="text-info">
              <%= link_to user.name, admin_user_path(user) %></b>
            </td>
            <td>
              <% if course_users.include?(user) %>
                <%= builder.check_box :_destroy, {checked: true}, 0, 1 %>
                <%= builder.hidden_field :id, value:
                  @course.user_courses.active_course(user).first.id %>
              <% else %>
                <%= builder.check_box :user_id, {checked: false}, user.id, nil %>
                <%= builder.hidden_field :supervisor, value: true if supervisor %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <div class="actions">
      <%= f.submit t(:submit), class: "btn btn-primary" %>
    </div>
  </div>
</div>
