<div class="row">
  <div class="col-md-8">
    <table class="table">
      <%= f.fields_for :user_courses do |builder| %>
        <tr>
          <td class="text-info">
            <%= link_to builder.object.user.name, "" %></b>
          </td>
          <td>
            <% if @course.users.include?(builder.object.user) %>
              <%= builder.check_box :_destroy, {checked: true}, 0, 1 %>
            <% else %>
              <%= builder.check_box :user_id,
                {checked: false}, builder.object.user_id, nil %>
              <%= builder.hidden_field :status, value: :started %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="actions">
      <%= f.submit t(:submit), class: "btn btn-primary" %>
    </div>
  </div>
</div>
