<div class="row">
  <div class="col-md-7">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: Settings.course_form.description.rows, class: "form-control", required: true %>
    </div>
    <div class="form-group">
      <%= t "admin.courses.form.start_date" %>
      <%= f.date_field :start_date %>
    </div>
    <div class="form-group">
      <%= t "admin.courses.form.end_date" %>
      <%= f.date_field :end_date %>
    </div>
  </div>
  <div class="col-md-4 col-md-offset-1 choose-subjects-field">
    <%= f.label t("admin.courses.form.subjects") %>
    <ul class="choose-subjects">
      <%= f.fields_for :subject_courses do |builder| %>
        <div class="form-group">
          <% if @course.subjects.include? builder.object.subject %>
            <%= builder.hidden_field :id, value: builder.object.id %>
            <%= builder.check_box :_destroy, {checked: true}, 0, 1 %>
          <% else %>
            <%= builder.check_box :subject_id, {checked: false},
              builder.object.subject.id, "" %>
          <% end %>
          <%= builder.label :subject_id, builder.object.subject.name %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
<p><%= link_to_add_fields t("admin.courses.new_subject"), f, :subjects %></p>
<ul class="list-inline">
  <li>
    <%= f.submit t("admin.submit"), class: "btn btn-success" %>
  </li>
  <li>
    <%= button_tag t("admin.reset"), type: :reset,
      class: "btn btn-default" %>
  </li>
</ul>
