<%= provide :title, t("admin.courses.title") %>
<h1><%= t "admin.courses.header" %></h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for [:admin, @course] do |f| %>
      <%= render "shared/error_messages", object: @course %>
      <%= render "course_form", f: f %>
    <% end %>
  </div>
</div>
