<div class="row header-course">
  <h1 class="label-name"><%= @course.name %></h1>
  <div class="row">
    <div class="col-md-8">
      <%= render "shared/status_label", label: @course.status %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="edit-operation">
      <%= link_to t("admin.courses.edit"), edit_admin_course_path(@course),
        class: "btn btn-primary" %>
      <%= link_to t("admin.courses.add_to_course"), admin_course_user_courses_path(@course),
        class: "btn btn-success" %>
      <%= link_to t("admin.courses.delete"), admin_course_path(@course),
        method: :delete, data: {confirm: t("messages.confirm")},
        class: "btn btn-danger" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <h2 class="label-name">
        <%= t "client.courses.description" %>
      </h2>
      <p><%= @course.description %></p>
    </div>
    <div class="row">
      <h2 class="label-name">
        <%= t "client.courses.subject_info" %>
      </h2>
      <ul class="white-in">
        <% @course.subjects.each do |subject| %>
          <% subject_course = @subject_courses.find_by subject_id: subject.id, course_id: @course.id %>
          <div class="course_list_border">
            <h3><%= link_to subject.name, [:admin, subject] %></h3>
            <p><%= subject.description %></p>
            <% if @course.started? %>
              <% case subject_course.status %>
              <% when "open" %>
                <%= link_to t("admin.subjects.start_subject"), admin_subject_course_path(subject_course,
                  type: Settings.subject_course.status_start), data: {confirm: t("messages.confirm")},
                  method: :patch, class: "btn btn-sm btn-default" %>
              <% when "started" %>
                <%= link_to t("admin.subjects.finish_subject"), admin_subject_course_path(subject_course,
                  type: Settings.subject_course.status_finish), data: {confirm: t("messages.confirm")},
                  method: :patch, class: "btn btn-sm btn-danger" %>
              <% when "finished" %>
                <%= link_to t("admin.subjects.unactive_subject"), root_url,
                  class: "btn btn-sm btn-danger disabled" %>
              <% end %>
            <% else %>
              <%= link_to t("admin.subjects.unactive_subject"), root_url,
                class: "btn btn-sm btn-danger disabled" %>
            <% end %>
          </div>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <h2 class="label-name">
        <%= t "client.courses.trainee_info" %>
        <span class="badge"><%= @course.trainees.count %></span>
      </h2>
      <ul class="list-trainees white-in">
        <% @course.trainees.each do |trainee| %>
          <li class="user_info">
            <%= gravatar_for trainee %>
            <div class="name-email">
              <%= link_to trainee.name, trainee %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <h2 class="label-name">
        <%= t "client.courses.manager" %>
        <span class="badge"><%= @course.supervisors.count %></span>
      </h2>
      <ul class="list-managers white-in">
        <% @course.supervisors.each do |supervisor| %>
          <li class="user_info">
            <%= gravatar_for supervisor %>
            <div class="name-email">
              <%= link_to supervisor.name, supervisor %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row activity">
      <h2 class="label-name">
        <%= t "client.courses.activity" %>
        <ul>
          <% if @activities %>
            <% @activities.each do |activity| %>
              <li>
                <%= activity.content %>
                <span class="timestamp"> 
                  <%= time_ago_in_words activity.created_at %>
                 <%= t "activity.ago" %>
               </span>
              </li>
            <% end %>
          <% end %>
        </ul>
      </h2>
    </div>
  </div>
</div>
